<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.iqsolution.tkoonline">

    <application
        android:debuggable="true"
        android:name=".MainApp"
        tools:replace="android:name"
        tools:ignore="GoogleAppIndexingWarning,HardcodedDebugMode"/>

</manifest>