$colorWhiteAlpha: rgba(255, 255, 255, 0.9);

$maxHeight: 48px;

$ringInnerD: 32px;
$ringOuterD: 42px;

$trashIconWidth: 16px;
$trashIconHeight: 20px;

$textBoxHeight: 32px;
$textMarginStart: 3px;
$textMarginEnd: 12px;
$textMarginVert: 8px;
$textBoxR: 5px;

//noinspection ALL
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  background: white;
}

html, body, #map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.placemark_container {
  position: relative;
}

.trash_circle {
  position: absolute;
  width: $maxHeight;
  height: $maxHeight;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: $colorWhiteAlpha;
}

.trash_ring {
  position: absolute;
  left: #{($maxHeight - $ringOuterD) / 2};
  top: #{($maxHeight - $ringOuterD) / 2};
  width: $ringInnerD;
  height: $ringInnerD;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border: #{($ringOuterD - $ringInnerD) / 2} solid red;
  background: white;
}

.trash_icon {
  position: absolute;
  left: #{($maxHeight - $trashIconWidth) / 2};
  top: #{($maxHeight - $trashIconHeight) / 2};
  width: $trashIconWidth;
}

.trash_text {
  position: absolute;
  left: #{$maxHeight / 2};
  top: #{($maxHeight - $textBoxHeight) / 2};
  padding: $textMarginVert $textMarginEnd $textMarginVert #{$maxHeight / 2 + $textMarginStart};
  white-space: nowrap;
  border-radius: $textBoxR;
  -moz-border-radius: $textBoxR;
  -webkit-border-radius: $textBoxR;
  background: $colorWhiteAlpha;
}