$colorWhiteAlpha: rgba(255, 255, 255, 0.9);

$trashMaxHeight: 48px;

$ringInnerD: 32px;
$ringOuterD: 42px;

$textBoxHeight: 32px;
$textMarginStart: 3px;
$textMarginEnd: 12px;
$textMarginVert: 8px;
$textBoxR: 5px;

$trashIconWidth: 16px;
// calculated
$trashIconHeight: 21px;

$locationIconWidth: 33px;

//noinspection ALL
@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto-Regular.ttf') format('truetype');
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 16px;
  background: white;
}

html, body, #map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.placemark {
  position: relative;
}

.trash_ring {
  position: absolute;
  left: #{($trashMaxHeight - $ringOuterD) / 2};
  top: #{($trashMaxHeight - $ringOuterD) / 2};
  width: $ringInnerD;
  height: $ringInnerD;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-style: solid;
  border-width: #{($ringOuterD - $ringInnerD) / 2};
  box-shadow: 0 0 0 3px white;
  background: white;
}

.trash_icon {
  position: absolute;
  left: #{($trashMaxHeight - $trashIconWidth) / 2};
  top: #{($trashMaxHeight - $trashIconHeight) / 2};
  width: $trashIconWidth;
}

.trash_text {
  position: absolute;
  left: #{$trashMaxHeight / 2};
  top: #{($trashMaxHeight - $textBoxHeight) / 2};
  padding: $textMarginVert $textMarginEnd $textMarginVert #{$trashMaxHeight / 2 + $textMarginStart};
  white-space: nowrap;
  border-radius: $textBoxR;
  -moz-border-radius: $textBoxR;
  -webkit-border-radius: $textBoxR;
  background: $colorWhiteAlpha;
}

.location_icon {
  position: absolute;
  width: $locationIconWidth;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.35);
}